<div class="container" id="advanced-search-form">
    <ng-container *ngIf="!crearCliente; else formClientes">
    <button type="button" class="btn btn-dark btn-sm" (click)="mostrarClientes()">Crear Clientes</button>
    <table datatable [dtOptions]="dtOptions" class="row-border hover">
      <thead>
        <tr>
          <th>Nombre</th>
          <th>Telefono</th>
          <th>NroDNI</th>
          <th>Dirección</th>
          <th>Email</th>
          <th>Fecha Nacimiento</th>
          <th>Fecha inscripcion</th>          
          <th>Estado</th>
          <th>Acciones</th>
       </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of lstCliente">
          <td>{{ item.nombre_Cliente}}</td>
          <td>{{ item.telefono}}</td>
          <td>{{ item.nro_DNI}}</td>          
          <td>{{ item.direccion}}</td>
          <td>{{ item.email}}</td>          
          <td>{{ item.fecha_Nacimiento}}</td>
          <td>{{ item.fecha_Inscripcion}}</td>          
          <td>{{ item.estado_Cliente? 'Activo' : 'Inactivo'}}</td>

          <td>
              <button type="button" class="btn btn-dark btn-sm" (click)="editCliente(item)">Editar</button>
              <button type="button" class="btn btn-outline-danger btn-sm" style="margin-left: 1%;" (click)="desactivarCliente(item)">Deshabilitar</button>
          </td>
        </tr>
      </tbody>
    </table>
</ng-container>
<ng-template #formClientes>
    <button type="button" class="btn btn-dark btn-sm" (click)="crearCliente = false">Ver clientes</button>
    <form [formGroup] = "formulario">
      
      <div class="form-group row">
        <label for="staticEmail" class="col-sm-2 col-form-label">Nombres</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" formControlName="Nombre_Cliente" [ngClass]="{ 'is-invalid': submitted && f.Nombre_Cliente.errors }" placeholder="Nombre">
          <div *ngIf="submitted && f.Nombre_Cliente.errors" class="invalid-feedback">
            <div *ngIf="f.Nombre_Cliente.errors.required">El nombre es requerido</div>
          </div>
        </div>
      </div>
        <div class="form-group row">
          <label for="inputPassword" class="col-sm-2 col-form-label">Telefono</label>
          <div class="col-sm-10">
             <input type="text" class="form-control" formControlName="Telefono" [ngClass]="{ 'is-invalid': submitted && f.Telefono.errors }" placeholder="Telefono">
             <div *ngIf="submitted && f.Telefono.errors" class="invalid-feedback">
              <div *ngIf="f.Telefono.errors.required">El telefono es requerido</div>
            </div>
          </div>
        </div>
        <div class="form-group row">
          <label for="inputPassword" class="col-sm-2 col-form-label">NumeroDNI</label>
          <div class="col-sm-10">
             <input type="text" class="form-control" formControlName="Nro_DNI" [ngClass]="{ 'is-invalid': submitted && f.Telefono.errors }"   placeholder="NumeroDNI">
             <div *ngIf="submitted && f.Telefono.errors" class="invalid-feedback">
              <div *ngIf="f.Telefono.errors.required">El telefono es requerido</div>
            </div>
            </div>
        </div>
        <div class="form-group row">
          <label for="inputPassword" class="col-sm-2 col-form-label">Dirección</label>
          <div class="col-sm-10">
            <input type="text" class="form-control"  formControlName="Direccion" [ngClass]="{ 'is-invalid': submitted && f.Direccion.errors }" placeholder="Dirección">
            <div *ngIf="submitted && f.Direccion.errors" class="invalid-feedback">
            <div *ngIf="f.Direccion.errors.required">La direccion es requerido</div>
            </div>
          </div>
        </div>
        <div class="form-group row">
          <label for="inputPassword" class="col-sm-2 col-form-label">Email</label>
          <div class="col-sm-10">
            <input type="text" class="form-control"  formControlName="Email" [ngClass]="{ 'is-invalid': submitted && f.Email.errors }"   placeholder="Email">
            <div *ngIf="submitted && f.Email.errors" class="invalid-feedback">
            <div *ngIf="f.Email.errors.required">El Email es requerido</div>
            </div>
          </div>
        </div>          
        <div class="form-group row">
          <label for="inputPassword" class="col-sm-2 col-form-label">FechaNacimiento</label>
          <div class="col-sm-10">
            <input type="date" class="form-control"  formControlName="Fecha_Nacimiento" [ngClass]="{ 'is-invalid': submitted && f.Fecha_Nacimiento.errors }"   placeholder="Fecha de Nacimiento">
            <div *ngIf="submitted && f.Fecha_Nacimiento.errors" class="invalid-feedback">
            <div *ngIf="f.Fecha_Nacimiento.errors.required">La fecha de nacimiento es requerido</div>
            </div>
          </div>
        </div>
        <div class="form-group row">
          <label for="inputPassword" class="col-sm-2 col-form-label">Fecha_Inscripcion</label>
          <div class="col-sm-10">
            <input type="date" class="form-control"  formControlName="Fecha_Inscripcion" [ngClass]="{ 'is-invalid': submitted && f.Fecha_Inscripcion.errors }"   placeholder="Fecha Inscripcion">
            <div *ngIf="submitted && f.Fecha_Inscripcion.errors" class="invalid-feedback">
              <div *ngIf="f.Fecha_Inscripcion.errors.required">La Fecha Inscripcion es requerido</div>
            </div>
          </div>
        </div>
        
          <div class="form-group row">
            <label for="inputPassword" class="col-sm-2 col-form-label"></label>
            <div class="col-sm-10">
                <button type="button" *ngIf="!btnEditar" (click) = "AddCliente()" class="btn btn-secondary" >Guardar</button>
                <button type="button" *ngIf="btnEditar" (click) = "updateCliente()" class="btn btn-secondary" >Editar</button>
                <button type="button" class="btn btn-outline-dark" style="margin-left: 2%;" (click) = "resetFormulario()">Cancelar</button>
            </div>
          </div>
      </form>
  </ng-template>
</div>
